.env"course projects/Backend/9 Authentication/9.6+Secrets+Project/.env" 
"course projects/Backend/9 Authentication/9.6+Secrets+Project/.env" 
"course projects/Backend/9 Authentication/9.5+Authentication+Lv.3/.env" 
"course projects/Backend/9 Authentication/9.6+Secrets+Project/.env" 
"course projects/Backend/9 Authentication/9.5+Authentication+Lv.3/.env" 
"course projects/Backend/9 Authentication/9.4+Environment+Variables/.env" 
"**/.env" 
"course projects/Backend/9 Authentication/9.6+Secrets+Project/.env" 
"course projects/Backend/9 Authentication/9.5+Authentication+Lv.3/.env" 
"course projects/Backend/9 Authentication/9.4+Environment+Variables/.env" 
